<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="mx-auto">
            <img src="/img/tejedora-removebg-preview.png"width="100%" alt="logo">
  </div>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        <a class="nav-link active" href="/productos">Productos Disponibles</a>
        <a class="nav-link active" href="/login">Iniciar sesion</a>
        <a class="nav-link active" href="/admi">Administracion</a>
      </div>
    </div> 
      <div class="">
        <img src="img/464-4646442_carrito-de-compras-carro-de-compras-blanco-clipart.png" width="10%" height="10%"  alt="" data-bs-toggle="modal" data-bs-target="#modalUno" type="button" class="text-sm-end">
      </div>
  </div>
</nav>


