<div id="AgregarCurso py-5">
      <div id="info">
          <h2 class="pt-5">Agregar Producto</h2>
      <hr class="w-100" />
      <hr class="w-100" />
      <form id="crearProducto">
        <div class="container pt-3 w-50">
          <div>
            <div class="form-group row">
              <label  class="col-sm-2 col-form-label">Producto</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="producto"
                />
              </div>
            </div>


             {{!-- <div class="form-group row">
            <label class="col-sm-2 col-form-label" >Imagen</label>
            <div class="col-sm-10">
              <input  class="form-control" type="file" name="foto"/>
            </div>
          </div> --}}


            <div class="form-group row">
              <label  class="col-sm-2 col-form-label">Descripcion</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="descripcion"
                  name="descripcion"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Stock</label>
              <div class="col-sm-10">
                <input
                  type="number"
                  class="form-control"
                  id="stock"
                  name="stock"
                />
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-2 col-form-label">Valor</label>
              <div class="col-sm-10">
                <input
                  type="number"
                  class="form-control"
                  id="valor"
                  name="valor"
                />
              </div>
            </div>
  
            <button
            type="submit"
              id="agregar"
              class="my-2 btn btn-success"
            >
              Agregar
            </button>
            <button
              onclick="editarCurso()"
              id="editar"
              class="my-2 btn btn-info"
            >
              Editar
            </button>
          </div>
        </div>
      </form>


   
    <div id="ListaCursos">
      <hr />
       <p id="alert" ></p>
      <hr />
      <h2>Tabla de productos</h2>

     

      <div class="container">
       <div class="row" >
          <div class="col-12">
                  <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Stock</th>
              <th scope="col">Valor</th>
              <th scope="col">-</th>
            </tr>
          </thead>
          <tbody id="cuerpo"></tbody>
        </table>
        </div>
       </div>
      </div>
      </div>      
    </div>
     </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <style>
  body {
    text-align: center;
  }
</style>

<script>

  let tbody = document.getElementById("cuerpo");
  let descripcion = document.getElementById("descripcion");
  let stock = document.getElementById("stock");
  let valor = document.getElementById("valor");
  let form = document.getElementById("crearProducto")
  const alert = document.getElementById("alert")
  const info = document.getElementById("info")

document.addEventListener("DOMContentLoaded", () => {
  if(!localStorage.getItem('token')){
      return  info.innerHTML = `
         <hr class="w-100" />
        <hr class="w-100" />
        <h2>vista solo para administacion</h2>
        <p><a href="/login"> Iniciar sesión</a></p>     
        `
        }
        validacion()
  });//document DOMJHFJ

const validacion = async() => {
  try{
    const res = await fetch("/api/administacion", {
      method : 'get',
      headers : {
        Authorization: `Bearer ${localStorage.getItem('token')}`
      }
    })
    const data = await res.json()
      if(data.msg == 'administrador'){
           let productos = [];
          window.onload = getData();
      }
      if(data.msg == 'cliente'){
          return  info.innerHTML = `
        <hr class="w-100" />
        <h2>No tienes acceso a la administracion</h2>
         <hr class="w-100" />

        `
      }
  }catch(error){
      console.log(error)
  }
}


const getData = async() => {
    await axios.get("/api/productos",{
      headers : {
        Authorization: `Bearer ${localStorage.getItem('token')}`
      }
    })
    .then((data) => {
      productos = data.data.msg;
      //console.log(productos)
    
      tbody.innerHTML = "";
      productos.forEach((c, i) => {
      //  
        tbody.innerHTML += `
        <tr>
          <td>${c.producto}</td>
          <td>${c.descripcion}</td>
          <td>${c.stock}</td>
          <td>${c.valor}</td>
          <td>
            <button class="btn btn-warning" onclick="prepararProducto(${i},'${c.id}')">Editar</button>
            <button class="btn btn-danger" onclick="eliminarProducto(${i},'${c.id}')">Eliminar</button>
          </td>
        </tr>
      `;
      });
    });

  }
 
form.addEventListener("submit", async(e) => {
  e.preventDefault()
  const dataForm = new FormData(form)
  const data = Object.fromEntries(dataForm); 
  const obj = JSON.stringify(data)
  console.log(data)

  try{
            const res = await fetch('/api/agregarProducto', {
                method: 'post',
                body: obj,
                headers:{
                    'Content-Type': 'application/json'
                }
          })
        const data = await res.json()
         console.log(data)
        if(!data.ok){
          alert.innerHTML = `
           <div class="alert alert-warning container" role="alert">
            ${data.msg}
      </div>
          `
          setTimeout(function(){
         alert.innerHTML = "";
            },5000);
        }
          getData()
  }catch(error){
    console.log(error)
    
  }

}) 


  const eliminarProducto = (i, id) => {
    const nombre = productos[i].producto
    axios.delete("/api/eliminarProducto/" + id)
    .then(() => {
        alert.innerHTML = `
      <div class="alert alert-danger container" role="alert">
       ${nombre} ya fue eliminado
      </div>
      `
      setTimeout(function(){
         alert.innerHTML = "";
            },5000);
      getData();
    });
  }



const prepararProducto = (i, id) => {
    const elemento = productos[i]
//crear value para los input
    document
      .getElementById("editar")
      .setAttribute("onclick", `editarCurso('${id}')`);
    document.getElementById("agregar").style.display = "none";
    document.getElementById("editar").style.display = "block";
  }



//crear funcion editar curso 


</script>