<div id="AgregarCurso">
    <div id="info">
      <h2 class="pt-5">Agregar Productos</h2>
       <hr class="w-100" />
      <hr class="w-100" />
    
      <div class="container pt-5 w-50">
        <div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="nombre"
                value="Chaleco Nube"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="descripcion" class="col-sm-2 col-form-label"
              >Descripcion</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="descripcion"
                value="tejido"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="stock" class="col-sm-2 col-form-label"
              >Stock</label
            >
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control"
                id="stock"
                value="1"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="valor" class="col-sm-2 col-form-label">Valor</label>
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control"
                id="valor"
                value="10000"
              />
            </div>
          </div>

          <button
            onclick="nuevoCurso()"
            id="agregar"
            class="m-auto btn btn-success"
          >
            Agregar
          </button>
          <button
            onclick="editarProducto()"
            id="editar"
            class="m-auto btn btn-info"
          >
            Editar
          </button>
        </div>
      </div>
   
    <div id="ListaCursos">
      <hr />
      <p id="alert"></p>
      <hr />
      <h2>Tabla de Productos</h2>

      <div class="container pt-5 w-75">
        <div class="row">
            <div class="col-md-12  col-sm-10 ">
                <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Valor</th>
                    <th scope="col">-</th>
                    </tr>
                </thead>
                <tbody id="cuerpo"></tbody>
                </table>
            </div>
        </div>
      </div>

    </div>
     </div>
    </div>

<script>
 
  const info = document.getElementById("info")
  let tbody = document.getElementById("cuerpo");
  let producto = document.getElementById("nombre");
  let descripcion = document.getElementById("descripcion");
  let stock = document.getElementById("stock");
  let valor = document.getElementById("valor");
  const alert = document.getElementById("alert");


//validacion de usuarios 
document.addEventListener("DOMContentLoaded", () => {
  if(!localStorage.getItem('token')){
      return  info.innerHTML = `
         <hr class="w-100" />
        <hr class="w-100" />
        <h2>vista solo para administacion</h2>
        <p><a href="/login"> Iniciar sesión</a></p> 
                         <br><br><br><br><br><br><br><br>
         <br><br><br>   
        `

        }
        validacion()
  });//document 

const validacion = async() => {
  try{
    const res = await fetch("/api/administacion", {
        method:'get',
      headers : {
        Authorization: `Bearer ${localStorage.getItem('token')}`
      }
    })
    const data = await res.json()
      if(data.msg == 'administrador'){
           let productos = [];
          window.onload = getData();
      }
      if(data.msg == 'cliente'){
          return  info.innerHTML = `
        <hr class="w-100" />
        <h2>No tienes acceso a la administracion</h2>
         <hr class="w-100" />
         <br><br><br><br><br><br><br><br><br><br><br>
        `
      }
  }catch(error){
      console.log(error)
  }
}


const getData = async() => {
    await axios.get("/api/productos",{
      headers : {
        Authorization: `Bearer ${localStorage.getItem('token')}`
      }
    })
    .then((data) => {
      productos = data.data.msg;
     // console.log(productos);
      //pintar tabla de productos con info de database
      tbody.innerHTML = "";
      productos.forEach((c, i) => {
        tbody.innerHTML +=  `
        <tr>
          <td>${i + 1}</td>
          <td>${c.producto}</td>
          <td>${c.descripcion}</td>
          <td>${c.stock}</td>
          <td>${c.valor}</td>
          <td>
            <button class="btn btn-warning" onclick="prepararProducto(${i},'${c.id}')">Editar</button>
            <button class="btn btn-danger" onclick="eliminarProducto(${i},'${c.id}')">Eliminar</button>
          </td>
        </tr>
      `;
      });
    });
    producto.value = "";
    descripcion.value = "";
    stock.value = "";
    valor.value = "";
  }



const nuevoCurso = () => {
    producto;
    descripcion;
    stock;
    valor;
    let data = {
      producto: producto.value,
      descripcion: descripcion.value,
      stock: stock.value,
      valor: valor.value,
    };
    //console.log(data);
    axios.post("/api/agregarProducto", data)
    .then((data) =>{
         if(data.data.ok){
          alert.innerHTML = `
           <div class="alert alert-success container" role="alert">
            <p>Se agrego un producto a la lista</p>
      </div>
          `
          setTimeout(function(){
         alert.innerHTML = "";
            },5000);
        }
          getData()
    }) 
     .catch((error) =>{
       if(!error.response.data.ok){
          alert.innerHTML = `
           <div class="alert alert-danger container" role="alert">
            ${error.response.data.msg}
      </div>
          `
          setTimeout(function(){
         alert.innerHTML = "";
            },5000);
        }
          getData()

  });
  }
 
const eliminarProducto = (i, id)  => {
    const nombre = productos[i].producto
    axios.delete("/api/eliminarProducto/"+ id)
    .then(() => {
       alert.innerHTML = `
      <div class="alert alert-danger container" role="alert">
       ${nombre} ya fue eliminado
      </div>
      `
      setTimeout(function(){
         alert.innerHTML = "";
            },5000);
      getData();
    });
  }

const prepararProducto = (i, id) => {
    console.log(productos);
    producto.value = productos[i].producto;
    descripcion.value = productos[i].descripcion;
    stock.value = productos[i].stock;
    valor.value = productos[i].valor;
    document
      .getElementById("editar")
      .setAttribute("onclick", `editarProducto('${id}')`);
    document.getElementById("agregar").style.display = "none";
    document.getElementById("editar").style.display = "block";
  }
  
const editarProducto= (id) => {
    axios
      .put("/api/editar", {
        id: id,
        producto: producto.value,
        descripcion: descripcion.value,
        stock: stock.value,
        valor: valor.value,
      })
      .then((data) => {
          console.log(data.data)
        document.getElementById("agregar").style.display = "block";
        document.getElementById("editar").style.display = "none";
        if(data.data.ok){
          alert.innerHTML = `
           <div class="alert alert-success container" role="alert">
            <p>El producto ya fue editado </p>
      </div>
          `
          setTimeout(function(){
         alert.innerHTML = "";
            },5000);
        getData();
        }
      })
        .catch((error) =>{
       if(!error.response.data.ok){
          alert.innerHTML = `
           <div class="alert alert-danger container" role="alert">
            ${error.response.data.msg}
      </div>
          `
          setTimeout(function(){
         alert.innerHTML = "";
            },5000);
        }
          getData()

  });
  }


</script>