<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide mt-3" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/carousel1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/carousel2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/carousel3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>









{{!-- card  --}}

<div class="container">
    <div class="py-5">

      <hr class="w-100" />
      <div class="row" id="items"></div>
        
    </div>
</div>


{{!-- TEMPLATE DINAMICO --}}

<template id="template-card">

<div class="col-12 col-md-4 ">
        <div class="card m-2" >
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 >producto</h4>
            </div>
        </div>
</div>

</template>

<style>
  h4{
    color:#F98496;
  }
</style>

<script>

const items = document.getElementById("items");
const templateCard = document.getElementById("template-card").content;
const fragment = document.createDocumentFragment()


document.addEventListener("DOMContentLoaded", () => {
    fetchData()
})

const fetchData = async() => {
    try{
        const respuesta =  await fetch("/api/inicio", {
            method: "get",
        })
        const data = await respuesta.json()
        pintarCards(data.msg)
    }catch(error){
        console.log(error)
    }
}

const pintarCards = (data) => {
        //console.log(data)
        data.forEach(producto => {
            templateCard.querySelector("h4").textContent = producto.producto
            templateCard.querySelector("img").setAttribute("src", `/img/${producto.producto.split(" ", 2)[1]}2.jpeg`)

            const clone = templateCard.cloneNode(true)
            fragment.appendChild(clone)
        })
        items.appendChild(fragment)
}


</script>